.git
.gitignore
.DS_Store
.trae
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

gffenv
backend/.env
ai/.env
frontend/app/.env

backend/*.db
backend/.pytest_cache

frontend/app/node_modules
frontend/app/dist
frontend/app/dist_new
